---
variable: Hello world
---
<html>
<head></head>
<body>
  <div class="main">{{ variable }}</div>
  {{> button label="Click me" }}
  {{> button label="Click me 1" }}
  {{> button label="Click me 2" }}
  {{> button label="Click me 3" }}
</body>
</html>
